html{
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 20px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;
}

body{
	text-align: center;
	padding: 15px;
	background-color: 
}

.header{
	text-align: left;
	vertical-align: middle;
	margin: 0 auto;
	display: block;
}

.content{

}

.footer{

}

a{
	text-decoration: none;
	color: #000000;
}
a:visited{
	color: #000000;
}


a:hover{
	text-decoration: none;
	color: #ff0000;
}
a:active{
	color: #ff0000;
}

.floatLeft{
	float: left;
}

.floatNone{
	float: none;
}

.floatRight{
	float: right;
}

.centerAlign{

}

img.svg{
	width: 8%;
	max-width: 200px;/*
	height: 8%;
	max-height: 8%;*/
}